.form {
    display: none;
    align-self: center;
    /* display: none; */
}

form {
    display: flex;
    flex-direction: column;
}

.agreement {
    margin-left: 25px;
}

.form-label {
    position: relative;
    bottom: 2px;
}

.form-button {
    margin-left: 130px;
    width: 200px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    color: white;
    background-color: #188CE8;
    border-radius: 3px;
    border: dodgerblue;
}